/*--------------Sobre Mi----------------*/
.text_sobre_mi {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container-conoceme {
    width: 80%;
    margin: auto;
    border: solido black;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 20px #6223e3;
    margin-bottom: 100px;

}

.square {
    background-color: #6223e3;
    color: white;
    text-align: center;
    width: 25%;
    border-radius: 5px;

}